@import "tailwindcss";
:root{
    background-color: #E1CBD7;
}


h1 {
  font-family: 'Madimi One', cursive;
  color: #ff008c;
}


@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }
  
  ol {
    list-style-type: decimal;
 
  }
  
  ul {
    list-style-type: disc;

  }
  
  /* Ensure lists have padding to show bullets */
  ol, ul {
    padding-left: 2rem;
  }
  
  a {
    color: #DC0190; /* Custom pink color, or you can use a Tailwind color like 'text-blue-500' in your JSX */
    text-decoration: underline; /* Optional: if you want links to be underlined by default */
  }

  code{
    padding: 5px;
    background-color: black;
    color: aliceblue;
    display: block;
  }
*{
    scrollbar-color: rgb(238, 176, 223) rgb(0, 0, 0);
    scrollbar-width: thin;
}

.swiper-pagination-bullet:hover{
  background: red;
}

/* Add this in your global CSS (e.g., index.css) */

.swipe {
  position: absolute;
  width: 300px;
  max-width: 85vw;
  height: 400px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  border-radius: 20px;
  background-color: white;
}

.cardContainer {
  position: relative;
  width: 300px;
  height: 400px;
  margin: auto;
}
